{% extends 'base.html' %}
{% block content %}

<h1>Shoe Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ shoe.brand }}</span>
        <p>Model: {{ shoe.model }}</p>
        <p>Color: {{ shoe.color }}</p>
        <p>Dress code: {{ shoe.dress_code }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'shoes_update' shoe.id %}">Edit</a>
        <a href="{% url 'shoes_delete' shoe.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}